//Colours
$colour-primary: #191919;
$colour-background: #FCFCFC;

$colour-ui-primary: #FFD651;
$colour-ui-shadow: rgba(29, 27, 27, 0.442);
$primecolour-one:#FFD651;
//Fonts
$font-primary: "Lato", sans-serif;