//Colours
$colour-primary: #191919;
$colour-background: #FCFCFC;

$colour-ui-primary: #FFD651;
//$secondary-colour-two:#707070;
$colour-ui-shadow: rgba(0,0,0,0.1);


//Fonts
$font-primary: "Open Sans", sans-serif;