.card-body {
    border-radius: 35px !important;
}
///////////FORANDRE TIL DIV ELLER NO
a.card-link {
border: 1px solid $colour-ui-shadow !important;
padding: 4px 8px 4px 8px !important;
color: $colour-ui-shadow !important;
border-radius: 5px !important;
}
///////////////////////////////////
.card-title.h5 {
    margin-top: 16px !important;
    font-size: 1em  !important;
}

