.card {
    border-radius: 1.25rem !important;
    margin-top: 65px;
    width: 20.5rem !important;
}

.card-body {
    border-radius: 35px !important;
    padding: 2.25rem !important;
   
}
.card-info {
border: 1px solid $colour-ui-shadow !important;
padding: 4px 8px 4px 8px !important;
color: $colour-ui-shadow !important;
border-radius: 5px !important;
}
.card-title.h5 {
    margin-top: 16px !important;
    font-size: 1em  !important;
}

