
.social-container {
    background-color: $colour-background !important;
    padding: 37px 50px;
    text-align: center;
    position: relative!important;


   
}
a.social {
    margin: 0 1rem; 
    transition: transform 250ms;
    display: inline-block ;
}
a.social:hover {
    transform: translateY(-2px);
}
a.facebook, 
a.instagram,
a.twitter,
a.nav-link {
    color: $colour-primary;
}

.link-footer {
    margin: 1rem !important;
    padding: 25px;
}