
.h1-home {
    margin-left: 18px !important;
    position: absolute !important;
    /*color:$colour-background !important;*/
    margin-bottom: 450px;
    z-index: 1;
    top: 16%;
}
.txt-home {
    /*color:$colour-background !important;*/
    position: absolute;
    top: 14%;
    z-index: 1;
}
.txt-home-two {
    /*color:$colour-background !important;*/
    position: absolute;
    top: 27%;
    z-index: 1;
}

.mr-sm-2 {
    width: 28% !important;
    border-radius: 1rem !important;
    border: 2px solid $colour-ui-primary !important;
    position: absolute !important;
    margin: 0 auto !important; 
    align-items: center !important;
    display: flex;
    margin-top: 100px;
    top: 32%;
    left: 38%;
    z-index: 1;

}  


@media (min-width: 576px) {
    .mr-sm-2, .mx-sm-2 {
        margin-right: .0rem!important; 
   }
   .image-home {
    background-position-x: -450px !important;
    background-position-y: -550px !important;
   }
}

.image-home {
width:100%;
height: auto;

   
}

