#bg-home {
    background-image: url(https://images.unsplash.com/photo-1604866273352-b455a0cdef0d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjUyfHxiZXJnZW58ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-position: 50%;
    width: 100vW;
}