
.h1-home {
    margin-left: 18px !important;
    position: relative !important;
    //color:$colour-background !important;
}
.txt-home {
    //color:$colour-background !important;
}

.mr-sm-2{
    width: 150px !important;
    border-radius: 1rem !important;
    border: 2px solid $colour-ui-primary !important;
    position: relative !important;
    margin: 0 auto;
}  


