html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    /*min-height: 100vh !important;*/
    background: $colour-background !important;
    font-family: $font-primary !important;
    color:$colour-primary !important;
    position: absolute !important;

    
}
/*
.screen-height {
    height: 75vh;
}*/