h1 {
    font-size: 1.6rem !important;
    margin: 4rem 0 2rem 0 !important;
    color:$colour-background !important;
    top: 30%;
    z-index: 1;
}

p,
a,  
h5 {
    color: $colour-primary !important;
}
.h3-home {
    color:$colour-ui-primary !important;
    font-size: 2rem;
    top: 27%;
    z-index: 1;
    margin: -4px 0px 24px 0px !important;
    letter-spacing: 6px;
    font-family:$font-secondary;
}



