h1 {
    font-size: 1.6rem !important;
    margin: 4rem 0 2rem 0 !important;
    color:$colour-primary !important;
    top: 30%;
    z-index: 1;
}
p,
a,  
h5 {
    color: $colour-primary !important;
}
.h3-home {
    color:$primecolour-one;
    font-size: 2rem;
    top: 27%;
    z-index: 1;
    padding-top: 84px;
    letter-spacing: 6px;
    font-family:$font-secondary;
    text-align: center;
    font-weight: bold;
 
}
.h1-home {
    margin-left: 18px !important;
    color:$colour-ui-primary !important;
    top: 50%;
    margin-top:25px;
    z-index: 1;
    font-size: 1.3rem !important;
    font-family:$font-secondary;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

