.container-home{
    background-image: url(./bergen.jpg);
    height: 50vh;
    background-size: cover;
    max-width: 100vw !important;
}


@media (min-width: 576px) {
    .container{
        height: 60vh;
        
    }
}
@media (min-width: 768px) {
    .container{
        height: 70vh;
    }
}